<div class="container">
<h1>Hello user!<br>
I am your stupid coach.</h1>
<form action="/answer" method="get">
<label>Enter your question:</label>
<input type="text" name="question" placeholder="Why are mondays such shitty days?" id="question">
<input class="btn" type="submit" value="Ask!">
</form>
</div>